h1{
    text-align: center;
    color: darkgreen;
}
.head2{
    text-align: center;
    color: red;
    background-color: pink;
}
.p1{
    color: blue; text-align: center
}
.p2{
    color: pink; text-align: center
}
.p3{
    color: green; text-align: center
}
.hr{
    width: 3cm; background-color: darkblue
}
.div{
    background-color: yellow;
    margin: 0;
}
