h1 {
    color:brown;
    text-align: center;
}
.table1 {
    border: 1px solid brown;
    background-color: lightblue;
    border-collapse: collapse;
}
.td {
    text-align: center;
}



