.td2 {
    text-align: left;
}
.td1 {
    color: maroon;
}
.tr1 {
   background-color: maroon; color: white;
}
.tb1 {
     text-align: center; border-color: orange;
}
h1{
    color: maroon; text-align: center;
}